
<template>
    <v-row>
      <v-col cols="6">
        <v-card>
          <v-card-title primary-title>
            API Test Card
          </v-card-title>
          <v-card-text>
            <p>
              Task Name: {{taskName}}
            </p>
            <p>
              Current task
            </p>
            <p>
              <div v-if="task">
                <VueJsonPretty :data="task"/>
              </div>
              <div v-else>
                Click submit to send toy data to model feed by flask and
                redis.
              </div>
            </p>
          </v-card-text>
          <v-card-text v-if="polling">
            <p>
              Current Result
            </p>
            <p>
              <div v-if="taskResult">
                <VueJsonPretty :data="taskResult"/>
              </div>
              <div v-else>
                <div class="">
                  Polling task:
                </div>
                <div class="d-flex justify-center">
                  <v-progress-circular indeterminate/>
                </div>
              </div>
            </p>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" @click="click">Submit Call</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
      <v-col cols="6">
        <v-card>
          <v-card-title primary-title>
            API Test Card
          </v-card-title>
          <v-card-text>
            <p>
              Task Name: {{servedTaskName}}
            </p>
            <p>
              Current task
            </p>
            <p>
              <div v-if="servedTask">
                <VueJsonPretty :data="servedTask"/>
              </div>
              <div v-else>
                Click submit to send toy data to model feed by flask and
                redis.
              </div>
            </p>
          </v-card-text>
          <v-card-text v-if="servedPolling">
            <p>
              Current Result
            </p>
            <p>
              <div v-if="servedTaskResult">
                <VueJsonPretty :data="servedTaskResult"/>
              </div>
              <div v-else>
                <div class="">
                  Polling task:
                </div>
                <div class="d-flex justify-center">
                  <v-progress-circular indeterminate/>
                </div>
              </div>
            </p>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" @click="servedClick">Submit Call</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
</template>

<script>
import axios from 'axios'
import {mapState, mapActions, mapGetters} from 'vuex'
import VueJsonPretty from 'vue-json-pretty'
export default {
  data: () => ({
    results: undefined,
    taskName: 'task',
    servedTaskName: 'served',
    polling: false,
    servedPolling: false,
  }),
  validate({ params, query, store, isDev, env }) {
    console.log(isDev, env)
    return true // if the params are valid
  },
  components: {
    VueJsonPretty
  },
  computed: {
    ...mapState(['tasks', 'taskResults']),
    task() {
      return this.getTask()(this.taskName)
    },
    taskResult() {
      return this.getTaskResult()(this.taskName)
    },
    servedTask() {
      return this.getTask()(this.servedTaskName)
    },
    servedTaskResult() {
      return this.getTaskResult()(this.servedTaskName)
    },
  },
  methods: {
    ...mapActions(['enqueueModelInquiry', 'enqueueServedModelInquiry']),
    ...mapGetters(['getTask', 'getTaskResult']),
    click() {
      this.polling = true
      this.enqueueModelInquiry({input: this.taskName})
    },
    servedClick() {
      this.servedPolling = true
      this.enqueueServedModelInquiry({input: this.servedTaskName})
    }
  },
  mounted() {

  }
}
</script>

